/* navbar */
.navbar a{
    text-decoration: none;
    color:black;
    font-size: large;
    font-weight: bold;
}
.collapse .navbar-nav{
    margin-left:30%
}
.contactDiv li{
    list-style-type: none;
}
#otherLiTags{
    margin-right: 40%;
}
#contactLi{
    margin-left: 60%;
}
.nav-link:hover{
    color:palevioletred;
}
@media(max-width:1200px) {
    li{
        margin-left: 0 !important;
    }
}
li .active{
    text-decoration:underline ;
}
/* text section */
.text{
    text-align: left;
    font-size:xx-large;
    padding-top: 10%;
}
.text h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 200%;
}
.text p{
    font-family: 'Assistant', sans-serif;
    font-size: x-large;
}
.text color{
    color:pink;
}
.manImage{
    height: 75%;
    width:auto;
    position: fixed;
}
/* footer */
.footer{
    padding: 2%;
    bottom:0;
    position: fixed;
    width: 100%;
    background-color:lavenderblush;
    text-align: center;
}
/* work.html */
#workTextDiv{
    background-color: lavenderblush;
    display:inline-block;
    align-items: center;
}
#workTextDiv  h1{
    color:palevioletred;
    margin-top: 10%;
    margin-bottom: 5%;
}
/* about.html */
.aboutTextDiv  h1{
    font-family: monospace;
    border-right: 4px solid;
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(10), blinking 0.5s infinite step-end alternate;
    color: palevioletred;
    margin-top: 10%;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blinking {
    50% {
      border-color: transparent;
    }
  }
  .animatedDiv img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .aboutImgDiv img{
    height: auto;
    width: 250px;
    border-radius: 10%;
    margin-top:20%;
    margin-left: 30%;
}
  /* contact.html */
  .contactTextDiv{
   text-align: center;
   border: 2px solid black;
  }
  .contactTextDiv button{
    box-shadow: 5px 7px rgb(221, 220, 220);
    border: 1px solid black;
  }
  .contactTextDiv h1{
    color: palevioletred;
    margin-top: 10%;
    margin-bottom: 5%
    ;
  }
  /* social.html */
  .socialTextDiv h1{
    color:palevioletred;
    margin-top: 10%;
    text-align: center;
  }
  .socialTextDiv .icons{
    margin-top: 8%;
    font-size: 50px;
    text-align: center;
  }
  .socialTextDiv i{
    color: black;
    margin: 5%;
    text-align: center;
  }
  .socialTextDiv i:hover{
    color: gray;
  }